{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
Thermos -- Login
{%  endblock %}

{% block content %}
    <section>
        <h1 style="clear: both">Please login</h1>
        <form action="" method="post">
            {{form.hidden_tag()}}
            <table>
                {{ render_field(form.username, size=50, class_="form-control fancy" ) }}
                {{ render_field(form.password, size=50, class_="form-control fancy" ) }}
                {{ render_field(form.remember_me, class_="form-control fancy" ) }}
                {{ render_field(form.submit, class_="form-control btn btn-info" ) }}
            </table>
        </form>
    </section>
{% endblock %}

{% block sidebar %}
{% endblock %}